*

!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/blogrock/


wp-content/uploads/
wp-content/cache/
wp-content/plugins/
wp-config.php
.htaccess
readme.html
license.txt
